title{
    color:thistle;
    text-align:center;
}
h1{
  color:teal;
  font-style:italic;
  text-align:center;
  image: resolution 100px; ;
}
p{
  font-family: sans-serif;
}
h2{
  color:goldenrod
  font-style:sans-serif;
  text-align:center;
}
h3{
  color:teal;
  font-style:italic;
  font-size:xx-large; 
}
ol{
  color:black;
  font-family: serif;
  font-weight: bold;
}
