title{
    color:thistle;
    text-align:center;
}
h1{
  color:teal;
  font-style:italic;
  text-align:center
}
p{
    font-family: sans-serif;
}
h2{
    color:goldenrod
    font-style:inherit;
    text-align:center;
    <img scr=''/home/wanjiru/Documents/moringa-school-projects/my-portfolio/css/WhatsApp Image 2021-07-11 at 4.58.45 PM.jpeg
    
}
